.import {
  .help-sidebar {
    // margin-top: 7.188rem;
  }

  .custom-file-section {
    box-shadow: 0 0 0 !important;
    margin-left: -1rem;
  }

  .custom-dropzone {
    height: 0 !important;
    border: 1px solid #707070 !important;
    border-radius: 5px;
  }
}
